// ==========================================================================
// Botões
// ==========================================================================

.btn{
	text-decoration: none;
	font-weight: normal;
}

.btn-lg {
	padding: 20px 30px;
}

.btn-primary {
	background-color: $brand-primary;
	color: $white;

	&:hover {
		background-color: darken($brand-primary, 10%);
	}
}