// ==========================================================================
// Botões
// ==========================================================================

.btn {
	text-decoration: none;
	font-weight: normal;
}

.btn-lg {
	padding: 20px 30px;
}

.btn-primary {
	background-color: $brand-primary;
	color: $white;
	transition: all .5s ease;

	&:hover {
		background-color: lighten($brand-primary, 10%);
		text-decoration: none;
		transition: all .5s ease;
	}
}

.btn-quero-palestrar {
    margin-top: 40px;

	a {
	   color: $brand-primary !important;
	   text-decoration: none;

	   &:hover {
	      color: lighten($brand-primary, 10%) !important;
	      text-decoration: none;
	   }
	}
}
