// ==========================================================================
// Rodapé
// ==========================================================================

footer[role="contentinfo"] a {
	color: #fff;
	transition: all .5s ease;
}

footer[role="contentinfo"] a:hover {
	color: rgba(255,255,255,0.65);
}