// ==========================================================================
// Página Inicial
// ==========================================================================

body.home .site {
	background: #fff;
}

body.home #primary {
	margin: 0;
	padding: 80px 4% 0 0;
}

body.home #primary::before {
	background-color: #fff;
	color: $brand-primary;
	content: 'Blog';
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-size: 34px;
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 34px;
	padding: 0 40px 0 0;
	left: 0;
	top: 0;
	position: absolute;
	text-transform: uppercase;
	z-index: 2;
}

body.home #primary::after {
	background-color: #e8e8e8;
	content: '';
	display: block;
	height: 1px;
	left: 0;
	top: 17px;
	position: absolute;
	width: 100%;
	z-index: 1;
}

body.home #secondary {
	margin: 0;
	padding: 0;
}

body.template-front-page #page #main {
	background-color: #fff;
	padding-top: 20px;
}

body.template-front-page #page .site-content {
	float: left;
	width: 58%;
}

// ==========================================================================
// Widgets
// ==========================================================================

body.template-front-page #page .widget-area {
	border: none;
	clear: none;
	float: right;
	padding: 0 2% 0 0;
	width: 32%;
}

.home #secondary .first.front-widgets {
	position: absolute;
    top: 89px;
    left: 0px;
    width: 100%;
    float: none;
    margin: 0px;

    // Widget com conteúdo da Chamada Principal
    // Logo e infos data, hora e local
    #text-4 {

		background: url('http://2016.belohorizonte.wordcamp.org/files/2016/05/wordcamp_bh_bg_header.jpg') no-repeat top center;
		/*background-attachment: fixed;*/
		/*background-size: cover;*/
		height: 495px;
		padding: 60px 0 0 0;
		overflow: hidden;
		text-align: center;
		width: 100%;
		margin: 0;

		.textwidget {
			padding: 0;
			line-height: 0;
		}

		#chamada-principal {
			overflow: hidden; 
			width: 830px;
			margin: 0 auto;

			#home-logo, #infos-principais {
				float: left;
			}

			#infos-principais {
				margin: 60px 0 0 50px;
			}

			.btn {
				color: #fff;
			}
		}

		#register-widget {

			background-color: #ebebeb;
			height: 175px;
			line-height: 20px;
			padding: 60px 0 0;

			h2 {
				color: rgba(255,255,255,0.65);
				font-size: 20px;
				font-weight: 600;
				letter-spacing: 2px;
				line-height: 30px;
				margin: 0 0 20px;
				text-transform: uppercase;
			}

			.button {
				background-color: rgba(255,255,255,0.65);
				border-radius: 5px;
				color: #fff;
				display: inline-block;
				font-family: 'Roboto', sans-serif;
				font-size: 14px;
				font-weight: 700;
				letter-spacing: 1px;
				line-height: 14px;
				padding: 15px 25px;
				text-transform: uppercase;
				transition: all .5s ease;

				&:hover {
					background-color: $brand-primary;
					color: #fff;
					text-decoration: none;
				}

			}

		}

		.header-widget-inner {
			padding: 120px 20px 0;
		}

	}

	// Widget texto com as informacoes:
	// Credenciamento, local e WordCana
	#text-6 {

		background: #F6F6F6;
		display: block;
		float: none;
		height: 360px;
		left: 0;
		overflow: hidden;
		position: absolute;
		top: 555px;
		width: 100%;
		margin: 0;

		.textwidget {
			max-width: 982px;
			margin: 0 auto;
			padding: 0;

			&::after {
				content: '';
				clear: both;
				display: block;
			}
		}

		.header-widget {
			background: none;
			border-radius: 0;
			box-shadow: none;
			clear: none;
			float: left;
			padding: 60px 0 0;
			text-align: center;
			width: 33.33%;

			h4 {
				font-size: 20px;
				font-weight: 600;
				letter-spacing: 1px;
				line-height: 20px;
				margin: 0 0 15px;
				text-transform: uppercase;
			}

			a {
				color: $brand-primary;
				text-decoration: none;
				transition: all .5s ease;

				&:hover {
					color: #333;
					text-decoration: none;
				}
			}

			p {
				font-family: 'Roboto', sans-serif;
				font-size: 14px;
				line-height: 18px;
			}
		}

		.header-widget-inner {
			padding: 110px 35px 0;
		}

		.attend-widget .header-widget-inner {
			background: transparent url('http://2016.belohorizonte.wordcamp.org/files/2016/05/wc-icon_2.png') no-repeat top center;
  			background-size: 72px 74px;
		}

		.sponsor-widget .header-widget-inner {
			background: transparent url('http://2016.belohorizonte.wordcamp.org/files/2016/05/wc-icon_1.png') no-repeat top center;
  			background-size: 72px 74px;
		}

		.speaker-widget .header-widget-inner {
			background: transparent url('http://2016.belohorizonte.wordcamp.org/files/2016/05/wc-icon_3.png') no-repeat top center;
			background-size: 72px 74px;
		}

	}

}

.home #secondary .second.front-widgets {
	width: 100%;
}